@media (max-width: 1400px) {
    :root {
        /* FONT SIZES */
        --site-title-h1: 56px;
        --site-title-h2: 36px;
        --site-title-h3: 24px;
        --site-title-h4: 18px;
        --subtitle-text: 24px;
        --body-text: 18px;
        --menu-text: 18px;
        --footer-text: 16px;

        /* LAYOUT DIMENSIONS */
        --section-block-space: 60px;

        /* BUTTONS */
        --btn-width: 180px;
        --btn-height: 64px;

        /* ROW AND COL GAPS */
        --section-title-mb: 72px;
        --hero-section-block-spacing: 160px;
        --row-gap: 72px;

        /* FORM DIMENSIONS */
        --form-width: 440px;
        --form-height: 56px;
        --submit-bttn-width: 180px;
        --input-border-radius: 8px;
    }

    /* ================== COMPONENTS ================== */
    .cta-btn {
        width: var(--btn-width);
        height: var(--btn-height);
        font-size: 24px;
        margin-left: 36px;
    }

    .btn-group {
        gap: 36px;
    }

    .site-btn,
    .outline-btn {
        font-size: 20px;
        font-weight: 700;
    }

    .outline-btn {
        border: 2px solid var(--brand-color);
    }

    /* -------------------Hero-section----------------------- */
    .hero-img {
        top: 0;
        max-width: 760px;
    }

    .hero-content {
        max-width: 520px;
        width: 100%;
    }

    .social-info a {
        font-size: 24px;
    }

    .social-info img,
    .social-icons img {
        width: 32px;
        height: 32px;
    }

    .social-icons {
        gap: 32px;
    }

    .experience-section {
        padding-top: var(--section-block-space);
    }

    input[type="submit"] {
        font-size: 24px;
    }

    .contact-form {
        gap: 16px;
    }

    .social-info+.social-info {
        margin-top: 36px;
    }

}

@media (max-width: 992px) {
    .nav-bar {
        position: fixed;
        top: 0;
        right: 0;
        background-color: var(--bg-color);
        width: 70%;
        right: -100%;
        height: 100%;
        flex-direction: column;
        align-items: initial;
        padding: 64px 20px;
        transition: all 0.6s ease-in;
    }

    .nav-bar .menu {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }


    .menu-icn,
    .cross-icn {
        display: block;
    }

    .nav-bar.active {
        right: 0;
    }

    .header-bar {
        padding-block: 10px;
    }

    .hero-section {
        padding-top: initial;
    }

    .hero-img {
        position: initial;
        max-width: 100%;
    }

    .menu .text-white {
        color: var(--black-color);
    }

    .menu a {
        display: block;
        width: 100%;
    }

    .cta-btn {
        font-size: var(--menu-text);
        margin-left: initial;
        margin-top: 16px;
    }

    .projects-section .site-title-h3 {
        line-height: 28px;
    }
}

@media (max-width: 767px) {
    :root {
        /* FONT SIZES */
        --site-title-h1: 48px;
        --site-title-h2: 32px;
        --site-title-h3: 20px;
        --site-title-h4: 16px;
        --subtitle-text: 20px;
        --body-text: 16px;
        --menu-text: 16px;
        --footer-text: 16px;

        /* LAYOUT DIMENSIONS */
        --section-block-space: 24px;
        --site-common-content: 18px;
        --col-inner-content-gap: 24px;

        /* BUTTONS */
        --btn-width: 164px;
        --btn-height: 48px;

        /* ROW AND COL GAPS */
        --section-title-mb: 36px;
        --hero-section-block-spacing: 40px;
        --row-gap: 24px;
        --grid-row-gap: 10px;
        --row-row-gap: 24px;

        /* FORM DIMENSIONS */
        --form-height: 48px;
        --submit-bttn-width: 164px;
        --input-border-radius: 8px;
    }



    /* ================== COMPONENTS ================== */
    .cta-btn {
        font-size: var(--menu-text);
        margin-left: initial;
        margin-top: 16px;
    }

    .btn-group {
        display: flex;
        gap: 18px;
        margin-top: 16px;
    }

    .site-btn,
    .outline-btn {
        font-size: 20px;
        font-weight: 700;
    }

    .outline-btn {
        border: 2px solid var(--brand-color);
    }

    .section-title {
        text-align: left;
    }

    .list {
        gap: 8px;
    }

    /* -------------------Hero-section----------------------- */
    .hero-content {
        max-width: 630px;
        width: 100%;
    }

    /* About section */
    .about-row {
        flex-direction: column;
    }

    .my-signature {
        max-width: 164px;
        margin-top: initial;
    }

    /* Skills-section */
    .site-col-4 {
        width: calc(100%/2);
    }

    .social-info a {
        font-size: 24px;
    }

    .skills-row img {
        margin-bottom: initial;
    }

    .skills-row .site-title-h2 {
        font-size: 20px;
    }

    /* Journey Section */
    .journey-row {
        flex-direction: column;
        gap: initial;
    }

    .journey-section .site-common-content p {
        font-size: var(--body-text);
    }

    .journey-section .flex-1 {
        padding-left: 30px;
    }

    .journey-section h2 {
        text-align: initial;
    }

    .journey-row .vertical-line {
        top: 0;
        left: 0;
        transform: initial;
        height: 100%;
    }

    .pass-year {
        flex-direction: column;
        gap: initial;
    }

    /* EXPERIEENCE-SECTION */

    .experience-row,
    .experience-row+.experience-row {
        flex-direction: column;
    }

    .work-exp {
        flex-direction: column;
    }


    /* PROJECT-SECTION */

    .projects-row,
    .projects-row+.projects-row {
        flex-direction: column;
    }

    .projects-row .site-common-content {
        gap: 8px;
    }

    .projects-row p.site-title-h3 {
        font-size: var(--body-text);
    }

    /* ------------Footer-section------------ */
    .footer-section {
        padding-bottom: initial;
    }

    .footer-section .site-common-content {
        text-align: initial;
    }

    .footer-row {
        flex-direction: column-reverse;
        gap: 36px;
        padding-bottom: 32px;
    }

    .contact-form label {
        font-size: 20px;
    }

    .social-info {
        padding-bottom: 16px;
    }

    .social-info a {
        font-size: 20px;
    }

    .social-info+.social-info {
        margin-top: 24px;
    }

    .social-info img,
    .social-icons img {
        width: 24px;
        height: 24px;
    }

    .social-icons {
        gap: 24px;
    }

    input[type="submit"] {
        font-size: 24px;
    }

    .contact-form {
        gap: 8px;
    }

    .section-divider {
        display: none;
    }

}