.skills-section {
    padding-block: var(--section-block-space);
}

.skills-section .skills-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: var(--grid-container-mx);
}

.skills-row img {
    width: 100%;
    margin-bottom: 16px;
}

.skills-row .site-col-4 {
    text-align: center;
}

.site-col-4 {
    width: calc(100%/4);
    padding: var(--grid-row-gap);
}

.skills-section .site-common-content img {
    transform: translateY(0);
    box-shadow: 0 0 0 rgb(0, 0, 0, 0.6);
    border-radius: 10px;
    transition: all 0.3s ease-in;
}

.skills-section .site-common-content:hover img {
    box-shadow: 1px 1px 14px rgb(0, 0, 0, 0.6);
    transform: translateY(-2px);
}

